@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");
html,
body {
  height: 100%;
}
.banner {
  overflow: hidden;
  height: 100%;
  position: relative;
  background: linear-gradient(90deg, #f00, #ffc0cb);
  background-size: 200% 200%;
  animation: bannerbg ease 8s infinite;
}
.banner div h2 {
  font-weight: bold;
  color: rgba(255,255,255,0.5);
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  font-size: 3.5rem;
}
.banner div h3 {
  font-weight: bold;
  color: rgba(255,255,255,0.5);
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  font-size: 2.5rem;
}
.bubbles {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  color: #fff;
}
li {
  position: absolute;
  list-style: none;
  display: block;
  opacity: 0.2;
  font-size: 4rem;
  animation: square linear 4s infinite;
}
li:nth-child(1) {
  left: 8.333333333333334%;
  font-size: 15rem;
  opacity: 0.1;
  animation-delay: 0s;
}
li:nth-child(5) {
  left: 41.66666666666667%;
  font-size: 3rem;
  opacity: 0.1;
  animation-delay: 0s;
}
li:nth-child(9) {
  left: 75%;
  font-size: 1.666666666666667rem;
  opacity: 0.1;
  animation-delay: 0s;
}
li:nth-child(2) {
  left: 16.666666666666668%;
  font-size: 8rem;
  opacity: 0.05;
  animation-delay: 2s;
}
li:nth-child(6) {
  left: 50%;
  font-size: 8rem;
  opacity: 0.05;
  animation-delay: 2s;
}
li:nth-child(10) {
  left: 83.33333333333334%;
  font-size: 8rem;
  opacity: 0.05;
  animation-delay: 2s;
}
li:nth-child(3) {
  left: 25%;
  font-size: 6.666666666666666rem;
  opacity: 0.08;
  animation-delay: 1s;
}
li:nth-child(7) {
  left: 58.33333333333334%;
  font-size: 2.857142857142857rem;
  opacity: 0.08;
  animation-delay: 1s;
}
li:nth-child(11) {
  left: 91.66666666666669%;
  font-size: 1.818181818181818rem;
  opacity: 0.08;
  animation-delay: 1s;
}
li:nth-child(4) {
  left: 33.333333333333336%;
  font-size: 8rem;
  opacity: 0.05;
  animation-delay: 3s;
}
li:nth-child(8) {
  left: 66.66666666666667%;
  font-size: 16rem;
  opacity: 0.05;
  animation-delay: 3s;
}
li:nth-child(12) {
  left: 100%;
  font-size: 24rem;
  opacity: 0.05;
  animation-delay: 3s;
}
@-moz-keyframes bannerbg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-webkit-keyframes bannerbg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-o-keyframes bannerbg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes bannerbg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes square {
  0% {
    transform: rotate(0deg) scale(1);
    top: 0;
  }
  50% {
    transform: rotate(180deg) scale(2);
  }
  100% {
    transform: rotate(360deg) scale(1);
    top: -400px;
  }
}
@-webkit-keyframes square {
  0% {
    transform: rotate(0deg) scale(1);
    top: 0;
  }
  50% {
    transform: rotate(180deg) scale(2);
  }
  100% {
    transform: rotate(360deg) scale(1);
    top: -400px;
  }
}
@-o-keyframes square {
  0% {
    transform: rotate(0deg) scale(1);
    top: 0;
  }
  50% {
    transform: rotate(180deg) scale(2);
  }
  100% {
    transform: rotate(360deg) scale(1);
    top: -400px;
  }
}
@keyframes square {
  0% {
    transform: rotate(0deg) scale(1);
    top: 0;
  }
  50% {
    transform: rotate(180deg) scale(2);
  }
  100% {
    transform: rotate(360deg) scale(1);
    top: -400px;
  }
}
